# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Jose Cuaran
name: Jose Cuaran
position: Ph.D. Student at University of Illinois Urbana-Champaign
email: jrcuaranv@gmail.com
description: |
  I am a Ph.D. student in Computer Science at the University of Illinois at Urbana-Champaign. I'm advised by Dr. [Girish Chowdhary](https://ece.illinois.edu/about/directory/faculty/girishc) in the Distributed Autonomous Systems Lab ([DASLAB](http://daslab.illinois.edu/)). My research focuses on active semantic mapping and 3D perception for agricultural robotics. I am particularly interested in developing AI-driven methods for mapping and understanding complex agricultural environments, such as greenhouses and orchards, where occlusions, sensor noise, and uncertainty pose significant challenges. My work combines techniques from computer vision, deep learning, and robotics to enable robots to perceive and interact intelligently with plants and fruits. Ultimately, my goal is to advance autonomous systems that support sustainable and precise agricultural practices. 

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://jrcuaranv.github.io/" #"https://jose-cuaran.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jos38514
github_username: jrcuaranv
google_scholar: https://scholar.google.com/citations?user=9Yhzi4YAAAAJ&hl=es
google_analytics: G-MFWSBLRKG0

# Build settings
theme: minima
plugins:
  - jekyll-feed

sass:
  style: compact

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
